// unica-one-regular - latin
@font-face {
  font-display: swap;
  font-family: 'Unica One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/unica-one-v7-latin-regular.eot'), // IE9 Compat Modes
  local('Unica One'), local('UnicaOne-Regular'),
  url('../fonts/unica-one-v7-latin-regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('../fonts/unica-one-v7-latin-regular.woff2') format('woff2'), // Super Modern Browsers
  url('../fonts/unica-one-v7-latin-regular.woff') format('woff'), // Modern Browsers
  url('../fonts/unica-one-v7-latin-regular.ttf') format('truetype'), // Safari, Android, iOS
  url('../fonts/unica-one-v7-latin-regular.svg#UnicaOne') format('svg'); // Legacy iOS
}

// montserrat-regular - latin
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v14-latin-regular.eot'), // IE9 Compat Modes
  local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), // Super Modern Browsers
  url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), // Modern Browsers
  url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), // Safari, Android, iOS
  url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); // Legacy iOS
}

// font mixins
@mixin main-font {
  font-family: 'Montserrat', Arial, sans-serif;
}

@mixin headline-font {
  font-family: 'Unica One', Verdana, sans-serif;
}
