$font-size-paragraph: 1.25rem;
$font-size-paragraph-mobile: 1rem;
$line-height-paragraph: 1.5;
$line-height-paragraph-mobile: 1.75;
$margin-bottom-paragraph: 1.25rem;
$margin-bottom-paragraph-mobile: 1rem;

$transition-duration: .2s;
